.App {
  text-align: center;
}

.App-logo {
  padding-left: 10px;
  width: 45px;
  height: 35px;
}

.navbar{
  margin-bottom: 10px;
}

body{
  background-color: #ecf0f1;
}

.form-input{
  font-size: 25px;
}

.form-button{
  text-align: center;
  border-radius: 10px;
}

.form-button2{
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.recent-h1{
  padding-bottom: 5px;
}

.youtube{
  margin: 25px;
}

button{
  background-color: #222;
  color: white;
  margin: 15px 15px 0px 15px;
  padding: 5px 10px;
}

.form{
  margin: 20px;
}

.hr-extra{
  margin-top: 20px;
}
